.functional-block {
    background-color: $main-bg-color;
    color: $black-color;

    &__mbtns {
        margin-bottom: 30px;
    }

    &__mbtn {
        color: $white;

        &--buy {
            background: $gradient-first;
        }

        &--video {
            background: #FF3B3B;
        }

    }

    &__svg--video {
        fill: $white;
    }

    &__cols {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;

        @media (max-width: 376px) {
            flex-direction: column-reverse;

        }
    }


    &__description {
        text-align: center;
        margin-bottom: 30px;

        .title {
            margin-bottom: 15px;
            text-transform: uppercase;
        }
    }

    &__worning {
        margin: 50px 0px;
        padding: 15px;
        border-radius: 5px;
    }


}

.left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}