.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: 376px) {
        flex-direction: row-reverse;
        justify-content: start;
        gap: 50%;
    }

    &__logo {
        @media (max-width: 376px) {
            transform: translateX(-100%);
        }
    }
}