.avatar {
    border: 5px solid $reviews-bg-color;
    background-color: $reviews-bg-color;
    border-radius: 50%;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}